.header {
  background-color: #1ABC9C;
  padding-left: 70px;
  padding-right: 70px;
  height: 70px;
  display: flex;
  justify-content: space-between; }

.logo {
  width: 100px;
  height: 30px;
  margin-top: 20px; }

ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  font-size: 25px; }

.about_site {
  height: 667px;
  display: flex;
  justify-content: space-between; }

h3 {
  margin-top: 218px;
  font-size: 35px;
  text-align: center; }

.about_as_p {
  margin-left: 62px;
  margin-right: 70px;
  text-align: justify; }

.projects {
  background: #DCFFEB;
  padding-left: 65px;
  padding-right: 65px;
  height: 680px; }

h2 {
  padding: 100px 0 50px 0;
  font-size: 35px;
  font-weight: 400; }

.arenas {
  display: flex;
  justify-content: space-between; }

.arena {
  background-image: url("https://oleksandrhrynok.github.io/Frontend/homeWork1403/img/arena.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 435px;
  height: 376px;
  display: flex;
  flex-direction: column; }
  .arena .arena_text {
    color: white;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 0;
    margin-top: -4px; }
  .arena span {
    margin-top: 260px;
    text-align: left;
    padding-left: 36px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff; }

.contacts {
  height: 500px;
  padding-left: 65px;
  padding-right: 65px; }
  .contacts h2 {
    margin-top: -30px; }

.contacts_element {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px; }

.contact_information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact_information h5, .contact_information h6 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
    font-size: 24px; }
  .contact_information h5 {
    color: #999999;
    margin: 20px; }
